body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: linear-gradient(to right, #a4c700, #009e80);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  text-align: center;
  font-size: 50px;
  letter-spacing: 5px;
  font-weight: bold;
  color: white;
  user-select: none;
}

.main {
  min-width: 450px;
  max-width: 40%;
  position: relative;
  align-items: center;
}

.filter {
  min-width: 450px;
  max-width: 40%;
  padding-left: 40px;
  text-align: center;
}

.filter > input {
  width: 50%;
}

.contact {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 30% 30% 30% 10%;
  font-size: 18px;
  align-items: center;
}

.contact-element {
  cursor: pointer;
  width: fit-content;
  height: fit-content;
}

.contact-element:first-child {
  margin: auto;
  text-align: center;
}

.blank {
  font-size: 22px;
  color: red;
  font-weight: bold;
  height: 75px;
  width: 75px;
  margin: auto;
}

img {
  height: 75px;
  width: 75px;
}

input {
  cursor: pointer;
}

.footer {
  font-size: 12px;
  text-align: center;
  font-weight: bold;
  user-select: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: white;
}